<section>
    <h2>Colaboradores</h2>

    <div class="action-container">
        <button class="action-container__btn action-container__btn--main-action" [routerLink]="['cadastro']" >Cadastrar
            colaborador</button>
    </div>

    <table class="workers-checkin">
        <thead class="workers-checkin__thead">
            <tr class="workers-checkin__tr">
                <th class="workers-checkin__th">Código</th>
                <th class="workers-checkin__th">Nome</th>
                <th class="workers-checkin__th">Ocupação</th>
                <th class="workers-checkin__th">Admissão</th>
                <th class="workers-checkin__th">Carga horária diária</th>
                <th class="workers-checkin__th">Ações</th>
            </tr>
        </thead>
        <tbody class="workers-checkin__tbody">
            <tr class="workers-checkin__tr" *ngFor="let worker of workers">
                <td class="workers-checkin__td">{{worker.id}}</td>
                <td class="workers-checkin__td">{{worker.name}}</td>
                <td class="workers-checkin__td">{{worker.occupation}}</td>
                <td class="workers-checkin__td">{{worker.str_admissionDate}}</td>
                <td class="workers-checkin__td">{{worker.workingHours}}h</td>
                <td class="workers-checkin__td">
                    <a href=""><em class="fas fa-trash"></em></a>
                </td>
            </tr>
        </tbody>
    </table>

</section>